h1 {
    size: 65px;
    color: orange;

    font-family: sans-serif;
    text-align: center;
}

p {
    font-weight: 600;
    font-size: 3em;

    text-decoration: inherit;
}

body {
    font-size: 16px;
}

ul {
    background-color: rgb(226, 199, 142);

    font-style: italic; 
    line-height: 20px;
}

.cor-simultanea {
    background-color: rgb(207, 166, 53);
}

#linha1 {
    background-color: yellow;
}

#linha2 {
    background-color: red;
}

#linha3 {
    background-color: brown;
}